<main class="main">
  {{#with data}}
  <form method="POST" action="/purchase-info2" class="form-card">
    {{> heading title="Інформація про замовлення"}}

    <div class='purchase-item__block'>
      <span class='title'>ID: 8723543324</span>

    </div>

    <div class="card1">
      <div class='purchase-item__block'>
        <span class='title'>Ім'я:</span>
        <span class="text">Дмитро</span>
      </div>

      <div class='purchase-item__block'>
        <span class='title'>Прізвище:</span>
        <span class="text">Іванов</span>
      </div>

      <div class='purchase-item__block'>
        <span class='title'>Телефон:</span>
        <span class="text">+380987777777</span>

      </div>
      <div class='purchase-item__block'>
        <span class='title'>Електронна пошта:</span>
        <span class="text">d.ivanov@example.com</span>
      </div>
    </div>

    <div class="card2">
      <div class='purchase-item__block'>
        <span class='title'>Назва товару:</span>
        <span class="text">Комп'ютер Artline Gaming (X43v31) AMD Ryzen 5 3600</span>
      </div>
      <div class='purchase-item__block'>
        <span class='title'>Коментар:</span>
        <span class="text">Подзвонити за 30 хв</span>
      </div>
    </div>

    <div class="card3">
      <div class='purchase-item__block'>
        <span class='title'>Вартість товарів::</span>
      </div>
      <div class='purchase-item__block'>
        <span class='title'>Вартість доставки:</span>
      </div>
      <div class='purchase-item__block'>
        <span class='title'>Сума до сплати:</span>
      </div>
      <div class='purchase-item__block'>
        <span class='title'>Нараховані бонуси:</span>
      </div>

    </div>

    {{> button text="Змінити дані"}}

  </form>
  {{/with}}
</main>




{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}