{{#with}}
<div class="product-card">
    <h2 class="product-card__tittle">{{title}}</h2>
    <p class="product-card__subtitle">{{description}}</p>

    <a href="/" class="product-card__button">Редагувати</button>
</div>
{{/with}}